body {
  font-family: sans-serif;
  padding: 0 20px;
}
ul {
  list-style: none;
}
li {
  margin-top: 20px;
  line-height: 1;
}
h1 {
  font-size: 24px;
  font-weight: 100;
  line-height: 28px;
}
a {
  text-decoration: none;
}

.submit-button {
  background-color: rgb(14, 104, 126);
  color: #fff;
  border: 1px solid #885df1;
  border-radius: 5px;
}
.weather-form {
  margin-top: 10px;
  width: 100%;
  margin-bottom: 10px;
}

.wrapper {
  max-width: 600px;
  margin: 20px auto;
}
.weather-app {
  border: 1px solid black;
  border-radius: 5px;
  max-width: 600px;
  margin: 20px auto;
  bottom: 0px;
  padding: 0 20px;
  background: linear-gradient(#f5f6f6, #7febf0);
}
.weather-temperature {
  margin-right: 10px;
  margin-top: 10px;
}
.weather-temperature strong {
  font-size: 25px;
  color: #686869;
  font-size: 64px;
}
.weather-temperature sup {
  position: relative;
  font-size: 15px;
  line-height: 5;
}
.weather-forecast {
  margin-top: 15px;
  text-align: center;
}
.weather-forecast-temperature {
  font-size: 13px;
}
.date {
  color: #505153;
}
.max {
  color: #111112;
}
.min {
  color: #626364;
}
